<h4 class="title">Rails new "Channel" generator</h4>

<ul>
  <li>
    <span class="code">rails g channel &lt;channel_name> &lt;channel_actions...></span>
  </li>
  <li>e.g.
    <span class="code">rails g channel &lt;chat> &lt;speak...></span>
  </li>
  <li>Produces server-side and client-side channel classes definition</li>
</ul>
