<h4 class="title">Set up demo</h4>

<ul>
  <li>
    <span>Getting started: </span>
    <a href="http://www.christopherbloom.com/2015/04/26/setting-up-a-rails-5-app-from-edge/">
      Setting up a Rails 5 app from edge
    </a>
  </li>
  <li>
    <span>A quick walkthrough by DHH: </span>
    <a href="https://www.youtube.com/watch?v=n0WUjGkDFS0">Rails 5: ActionCable demo</a>
  </li>
</ul>
