<h4 class="title">Rails 5 ActionCable</h4>

<ul>
  <li>A new feature in Rails 5</li>
  <li>Utilizes WebSocket</li>
  <li>Utilizes Redis to administer connection, send messages over the WebSocket protocol</li>
</ul>

<p><i class="material-icons left grey-text">arrow_forward</i>Real-time web application</p>
