<h4 class="title">About</h4>
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card">
      <div class="card-image">
        <img src="/team.jpg">
        <span class="card-title">About</span>
      </div>
      <div class="card-content">
        <p><strong>Afif Sohaili</strong></p>
        <p>Software Engineer @ Booster.com since July 2014</p>
      </div>
    </div>
  </div>
</div>
