@import "materialize/components/variables";

$booster-red: #EE3124;
$spacing: $h5-fontsize;

body {
  background: color("grey", "lighten-3");
}

#slide-placeholder {
  font-size: $h5-fontsize;
}

ul {
  padding-left: $h5-fontsize;

  li {
    list-style: disc;
  }
}

.header {
  @extend .white;
  @extend .z-depth-1;

  margin-bottom: $spacing;

  .logo {
    max-height: 70px;
    padding: 15px;
  }
}

.sticky.bottom {
  @extend .z-depth-1;

  background: $booster-red;
  bottom: 0;
  position: fixed;
  width: 100%;

  .action {
    @extend .white-text;

    padding: $spacing / 2;
    padding-bottom: $spacing / 4;
  }
}

.panel {
  @extend .white;
  @extend .z-depth-1;

  padding: $spacing;

  .title {
    @extend .grey-text;

    margin: 0;
  }
}
