$booster-red: #EE3124;
$spacing: 20px;

body {
  background: color("grey", "lighten-3");
}

.header {
  @extend .white;
  @extend .z-depth-1;

  margin-bottom: $spacing;

  .logo {
    max-height: 70px;
    padding: $spacing;
  }
}

.sticky.bottom {
  @extend .z-depth-1;

  background: $booster-red;
  bottom: 0;
  position: fixed;
  width: 100%;

  .action {
    @extend .white-text;

    padding: $spacing / 2;
    padding-bottom: $spacing / 4;
  }
}

.panel {
  @extend .white;
  @extend .z-depth-1;

  padding: $spacing;

  .title {
    @extend .grey-text;

    margin: 0;
  }
}
